header
{
    width: 100%;
    padding: 60px 162px 0 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
header nav ul
{
    gap: 50px;
}
header img
{
    width: 20px;
    height: 20px;
}
header li
{
    cursor: pointer;
    opacity: 0.5;
    font-size: var(--font-size-18px);
}
header li.active
{
    color: var(--darker-clr);
    opacity: 1;
}
header li:hover
{
    opacity: 1;
}
header .logo
{
    cursor: pointer;
    font-weight: 300;
}
header.mobile
{
    padding: 60px 20px 0 20px;
    background-color: blueviolet;
}
header.mobile nav ul
{
    position: absolute;
    background-color: red;
    flex-direction: column;
    right: 0;
    top: 0px;
    bottom: 0;
    left: 10%;
    padding: 120px 20px;
    z-index: 2;
    display: none;
}
header.mobile .logo
{
    font-size: var(--font-size-22px);
}
header.mobile nav ul li
{
    font-size: var(--font-size-30px);
}
header.mobile nav
{
    gap: 10px;
}
header.mobile ul
{
    gap: 8px;
}